
<div class="flex" data-controller="gallery">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[10vh] bg-black"></div>
		<div class="h-[80vh] bg-white flex items-center justify-center" data-gallery-target="pictureframe">
			<%= image_tag 'yourvenus.jpg', class:"h-full transition-all" %>
			<%= image_tag 'resurrection.jpg', class:"h-full hidden transition-all" %>
			<%= image_tag 'luckyman.jpg', class:"h-full hidden transition-all" %>
			<%= image_tag 'setfiretotherain.jpg', class:"h-full hidden transition-all" %>
		</div>
		<div class="h-[10vh] bg-black"></div>
	</div>
	<div class="flex flex-col w-[10vw] bg-gray-400">
		<p>Gillespie</p>
		<button class="btn-blue" data-action="gallery#next">Next</button>
	</div>
</div>





<!-- <div class="w-[100vw] flex flex-col gap-20">
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'yourvenus.jpg', class:"w-1/5" %>
		<%= image_tag 'resurrection.jpg', class:"w-1/5" %>
	</div>
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'luckyman.jpg', class:"w-1/5" %>
		<%= image_tag 'setfiretotherain.jpg', class:"w-1/5" %>
	</div>
</div> -->