<div class="flex" data-controller="gallery">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="artbox" data-gallery-target="pictureframe">
			<%= image_tag 'art/awaiting.jpg', class:"max-h-full w-auto transition-all" %>
			<%= image_tag 'art/awakeningspirit.jpg', class:"max-h-full w-auto hidden transition-all" %>
			<%= image_tag 'art/processional.jpg', class:"max-h-full w-auto hidden transition-all" %>
			<%= image_tag 'art/flowoflife.jpg', class:"max-h-full w-auto hidden transition-all" %>
			<%= image_tag 'art/movingthroughtime.jpg', class:"max-h-full w-auto hidden transition-all" %>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center">
			<div data-gallery-target="titles" class="hidden">Awaiting Our Awakening,Awakening Spirit,Processional,The Circling Flow of Life,Moving Through Time</div>
			<p class="font-montserrat font-extrabold text-3xl text-white text-end" data-gallery-target="titleplate"></p>
			<button class="btn bg-black text-white" data-action="gallery#next">Next</button>
		</div>
	</div>
	<div class="flex justify-center w-[10vw] bg-black">
		<%= image_tag 'artists/jzich.png', class:"h-[1000px] w-[100vpx]" %>
	</div>
</div>