<div class="w-[100vw] flex flex-col gap-20">
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'awaiting.jpg', class:"w-1/5" %>
		<%= image_tag 'awakeningspirit.jpg', class:"w-1/5" %>
		<%= image_tag 'processional.jpg', class:"w-1/5" %>
	</div>
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'flowoflife.jpg', class:"w-1/5" %>
		<%= image_tag 'movingthroughtime.jpg', class:"w-1/5" %>
	</div>
</div>