<div class="flex flex-col md:flex-row font-ebgaramond justify-between cursor-default">
  <div class="flex ">
    <div class="h-screen min-w-40 text-9xl border-[40px] border-black bg-gradient-to-b from-slate-400 to-gray-100 text-black flex flex-col items-center justify-evenly font-semibold leading-[0.8] p-2">
      <div class="border-b-2 border-black pb-6 w-[70%] text-center">
        L
      </div>
      <div class="border-b-2 border-black pb-6 w-[70%] text-center">
        M
      </div>
      <div class="border-b-2 border-black pb-6 w-[70%] text-center">
        L
      </div>
      <div>
        S
      </div>
      <div class="text-base font-normal italic -mb-2 font-montserrat transition-all p-2">
        the nature of things
      </div>
    </div>
    <%= image_tag 'util/name.png', class:"w-[10dvh] h-[90dvh] -ml-10 mt-10 rotate-180", alt:"lone mountain literary society" %>
  </div>
  <div aria-label="page links" class="h-[100dvh] min-w-[20dvw] border-[40px] border-black flex justify-center gap-4 text-white text-xl font-montserrat font-extrabold">
    <ul class="text-end text-slate-300 mt-[30%] pt-4">
      <li><%= link_to 'poetry', poets_path, class:"cursor-default" %></li>
      <li><%= link_to 'art', artists_path, class:"cursor-default" %></li>
      <li><%= link_to 'issues', home_issues_path, class:"cursor-default" %></li>
    </ul>
    <div class="bg-gradient-to-b from-slate-400 to-gray-100 h-[80%] w-1 self-center"></div>
    <ul class="text-start self-end mb-[30%] pb-4">
      <li><%= link_to 'submissions', 'https://lonemountainliterarysociety.submittable.com/submit', class:"cursor-default" %></li>
      <li><%= link_to 'about', home_about_path, class:"cursor-default" %></li>
      <li><%= link_to 'social', 'https://www.instagram.com/lonemountainlit/' %></li>
    </ul>
  </div>
  <div class="h-[100dvh] md:h-[100dvh] min-w-[20dvw] border-[40px] border-black flex justify-end items-center gap-4 text-white font-inter">
    <ul class="text-end text-slate-300">
      <li>editor</li>
      <li>fiction</li>
      <li>design</li>
    </ul>
    <div class="bg-gradient-to-b from-slate-400 to-gray-100 h-[20%] md:h-[25%] w-1"></div>
    <ul class="text-start whitespace-nowrap">
      <li>m h lopez</li>
      <li>gregg burdon</li>
      <li>buck ashburn</li>
      
    </ul>
  </div>
</div>