<div class="flex">

	<%= image_tag 'util/poetryplate.png' %>
	<div class="w-[100dvw] flex flex-col font-inter text-white gap-8 p-4 md:p-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-100 h-1 w-full self-center"></div>

		<%= link_to poets_bgreen_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">benjamin</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">GREEN</p>
			</div>
		<% end %>

		<%= link_to poets_ldelan_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">lisa</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">DELAN</p>
			</div>
		<% end %>

		<%= link_to poets_ewij_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">e.w.i.</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">JOHNSON</p>
			</div>
		<% end %>

		<%= link_to poets_mbrooks_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">michelle</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">BROOKS</p>
			</div>
		<% end %>

		<%= link_to poets_wrmoore_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">william rieppe</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">MOORE</p>
			</div>
		<% end %>

		<%= link_to poets_lbridges_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">lawrence</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">BRIDGES</p>
			</div>
		<% end %>

		<%= link_to poets_dradavich_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">david</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">RADAVICH</p>
			</div>
		<% end %>

		<%= link_to poets_kljohnston_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">k.l.</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">JOHNSTON</p>
			</div>
		<% end %>

		<%= link_to poets_thbodine_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">terry hall</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">BODINE</p>
			</div>
		<% end %>

		<%= link_to poets_tthomson_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">taunja</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">THOMSON</p>
			</div>
		<% end %>

		<%= link_to poets_erosier_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">emily</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">ROSIER</p>
			</div>
		<% end %>

		<%= link_to poets_jmwarnecke_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">jenna-marie</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">WARNECKE</p>
			</div>
		<% end %>

		<%= link_to poets_zschild_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">zedekiah</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">SCHILD</p>
			</div>
		<% end %>

		<%= link_to poets_hjalal_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">hejaz</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">JALAL</p>
			</div>
		<% end %>

		<%= link_to poets_ackramer_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">alexandra</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">CRIVICI-KRAMER</p>
			</div>
		<% end %>

		<%= link_to poets_jschmid_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">joyce</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">SCHMID</p>
			</div>
		<% end %>

		<%= link_to poets_lvoivodeship_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">laura</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">VOIVODESHIP</p>
			</div>
		<% end %>

		<%= link_to poets_scotto_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300"></p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">SCOTTO</p>
			</div>
		<% end %>

	</div>
</div>