<div class="flex">

	<%= image_tag 'util/poetryplate.png' %>
	<div class="w-[100vw] h-[100vh] flex flex-col font-inter text-white gap-8 pt-20 md:p-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-50 w-full h-1"></div>

		<%= link_to poets_bgreen_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">benjamin</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">GREEN</p>
			</div>
		<% end %>

		<%= link_to poets_ldelan_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">lisa</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">DELAN</p>
			</div>
		<% end %>

		<%= link_to poets_ewij_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">e.w.i.</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">JOHNSON</p>
			</div>
		<% end %>

		<%= link_to poets_mbrooks_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">michelle</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">BROOKS</p>
			</div>
		<% end %>

		<%= link_to poets_wrmoore_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end text-end w-20 md:w-40 text-slate-300">william rieppe</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">MOORE</p>
			</div>
		<% end %>

	</div>
</div>