<!DOCTYPE html>
<html>
  <head>
    <title>Mountain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Tinos:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body class="bg-black">
    <% if controller_name == 'poets' %>
      <%= link_to home_poetry_path do %>
        <div class="w-full font-ebgaramond text-white text-3xl text-end pr-[200px] py-2">
          back to poets
        </div>
      <% end %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

